@section Scripts {
    <sink />
}

<div class="box">
    <h2>Page 2</h2>
    <span>This is Page2.cshtml</span>
    <vc:test-encapsulated text="in Page2.cshtml" />
    <partial name="_Partial" />
</div>

<script src="https://gist.github.com/Wufe/247b69b3f493e0916a94ea28f57b59ef.js"></script>