@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DependencyDeclaringLiteralsTest</title>
</head>

<body>
    <webpack-entry name="page-e" required-by="literal" />
    <sink />
</body>

</html>