@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleLiteralEntryTest</title>
</head>

<body>
    <literal-entry>
        <script>
            console.log('simple entry')
        </script>
    </literal-entry>
    <sink />
</body>

</html>